@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    /* background-image: url("/bg_image.png"), 90%; */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;

    background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 95%,
            theme("colors.primary")
        ),
        url("/bg_image.png");
    background-position: center;
}

.bg-img {
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1)
        ),
        url("/bg_image.png"), 90%; /* Update with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
